{namespace v=Sozialinfo\Base\ViewHelpers\Menu}

<footer class="row">
    <div class="col-sm-12">
        <hr class="separator-line-gray" />
    </div>
    <div class="col-sm-4">
        <address>
            <b>{settings.company.name}</b><br />
            {settings.company.street}<br />
            {settings.company.city}<br />
            <a href="mailto:{settings.company.email}">{settings.company.email}</a>
        </address>
    </div>
    <div class="col-sm-4">
        <br />
        {settings.company.phone}<br />
        {settings.company.fax}<br />
        {settings.company.website}<br />
    </div>
</footer>
