<header class="row">
    <div class="col-sm-12">
        <a id="logo" href="/">
            <img class="img-responsive center-block"
                 width="530"
                     height="134"
                     src="{f:uri.resource(path:'Template/images/logo.png', extensionName:'base')}"
                     alt="{f:translate(key: 'home', extensionName: 'base')}" />
        </a>
    </div>
</header>