<div>
    <h3 id="results">
        <f:translate key="frontend.search.found_records" extensionName="Sozialinfo"/>
        <span class="text-success">
            {count}
            <f:if condition="{count} > 1">
                <f:then>
                    <f:translate key="frontend.search.results" extensionName="Sozialinfo"/>
                </f:then>
                <f:else>
                    <f:translate key="frontend.search.result" extensionName="Sozialinfo"/>
                </f:else>
            </f:if>
        </span>
    </h3>
    <hr class="separator-line-gray">
</div>
