<div class="container">
    <f:render partial="Header" arguments="{_all}" />

    <f:render partial="MainNavigation" arguments="{_all}" />

    <div id="content" class="row">
        <f:render section="main" />
    </div>

    <f:render partial="footer" arguments="{_all}" />
</div>
