<div class="container">
    <f:render partial="Header" arguments="{_all}" />

    <f:render partial="MainNavigation" arguments="{_all}" />

    <f:if condition="{data.uid} == 2">
        <f:then>
            <img class="img-responsive" alt=""
                 src="{f:uri.resource(path:'Template/images/home-balken.png', extensionName:'base')}" />
        </f:then>
        <f:else if="{data.uid} == 1">
            <img class="img-responsive" alt=""
                 src="{f:uri.resource(path:'Template/images/home-balken.png', extensionName:'base')}" />
        </f:else>
        <f:else>
            <img class="img-responsive" alt=""
                 src="{f:uri.resource(path:'Template/images/service-balken.png', extensionName:'base')}" />
        </f:else>
    </f:if>


    <div class="row">
        <f:render section="main" />
    </div>
    <f:render partial="footer" arguments="{_all}" />
</div>
