<div class="container">
    <f:render partial="Header" arguments="{_all}" />

    <img class="img-responsive" alt=""
         src="{f:uri.resource(path:'Template/images/titelbild.png', extensionName:'base')}" />

    <div id="content" class="row">
        <f:render section="main" />
    </div>
    <f:render partial="footer" arguments="{_all}" />
</div>
