/*
Include this after bootstrap.css. Add class of 
vert-offset-top-value or vert-offset-bottom-value 
to your Bootstrap 3 default rows to prevent row content 
from touching the row content above or below.
*/

/* Vertical Offset Bottom */
.vert-offset-top-12{
    margin-top: 12*($grid-gutter-width/2);
}
.vert-offset-top-11{
    margin-top: 11*($grid-gutter-width/2);
}
.vert-offset-top-10{
    margin-top: 10*($grid-gutter-width/2);
}
.vert-offset-top-9{
    margin-top: 9*($grid-gutter-width/2);
}
.vert-offset-top-8{
    margin-top: 8*($grid-gutter-width/2);
}
.vert-offset-top-7 {
    margin-top: 7*($grid-gutter-width/2);
}
.vert-offset-top-6{
    margin-top: 6*($grid-gutter-width/2);
}
.vert-offset-top-5{
    margin-top: 5*($grid-gutter-width/2);
}
.vert-offset-top-4{
    margin-top: 4*($grid-gutter-width/2);
}
.vert-offset-top-3{
    margin-top: 3*($grid-gutter-width/2);   
}
.vert-offset-top-2{
    margin-top: 2*($grid-gutter-width/2);
}
.vert-offset-top-1{
    margin-top: 1*($grid-gutter-width/2);
}
.vert-offset-top-0{
    margin-top: 0;
}
/* Vertical Offset Bottom */
.vert-offset-bottom-12{
    margin-bottom: 12*($grid-gutter-width/2);
}
.vert-offset-bottom-11{
    margin-bottom: 11*($grid-gutter-width/2);
}
.vert-offset-bottom-10{
    margin-bottom: 10*($grid-gutter-width/2);
}
.vert-offset-bottom-9{
    margin-bottom: 9*($grid-gutter-width/2);
}
.vert-offset-bottom-8{
    margin-bottom: 8*($grid-gutter-width/2);
}
.vert-offset-bottom-7{
    margin-bottom: 7*($grid-gutter-width/2);
}
.vert-offset-bottom-6{
    margin-bottom: 6*($grid-gutter-width/2);
}
.vert-offset-bottom-5{
    margin-bottom: 5*($grid-gutter-width/2);
}
.vert-offset-bottom-4{
    margin-bottom: 4*($grid-gutter-width/2);
}
.vert-offset-bottom-3{
    margin-bottom: 3*($grid-gutter-width/2);
}
.vert-offset-bottom-2{
    margin-bottom: 2*($grid-gutter-width/2);
}
.vert-offset-bottom-1{
    margin-bottom: 1*($grid-gutter-width/2);
}
.vert-offset-bottom-0{
    margin-bottom: 0;
}