/* some mq utilities */

@media (max-width: $screen-xs-max) {
  .pull-right-xs {
    float:right;
  }
  .clearfix-xs {
    clear: both;
  }
}

@media (min-width: $screen-sm-min) {
  .pull-right-sm {
    float:right;
  }
  .clearfix-sm {
    clear: both;
  }
}

@media (min-width: $screen-md-min) {
  .pull-right-md {
    float:right;
  }
  .clearfix-md {
    clear: both;
  }
}

@media (min-width: $screen-lg-min) {
  .pull-right-lg {
    float:right;
  }
  .clearfix-lg {
    clear: both;
  }
}
