//
// text
// --------------------------------------------------
@mixin lead($color: $text-color) {
  font-family: DIN-Bold, sans serif;
  font-size: $font-size-base;
  line-height: 22px;
  letter-spacing: 2px;
  color: $color;
}

@mixin text($color: $text-color) {
  font-family: DIN-Regular, sans-serif;
  font-size: $font-size-base;
  line-height: 22px;
  letter-spacing: 2px;
  color: $color;
}

@mixin text-medium {
  font-family: DIN-Medium, sans-serif;
  font-weight: normal !important;
}

@mixin text-bold {
  font-family: DIN-Bold, sans-serif;
  font-weight: normal !important;
}

@mixin text-uppercase {
  text-transform: uppercase;
  letter-spacing: 1px;
}

@mixin text-grey {
  color: $gray-darker;
}

//
// headlines
// --------------------------------------------------
@mixin h3($color: $text-color) {
  font-family: DIN-Medium, serif;
  color: $color;
}

@mixin h4($color: $text-color) {
  @include text-medium;
  @include text-uppercase;
  color: $color;
}

@mixin h5($color: $text-color) {
  font-family: DIN-Regular, sans-serif;
  @include text-uppercase;
  color: $color;
}

@mixin h6($color: $text-color) {
  font-family: DIN-Medium, serif;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 2px;
  color: $color;
}

//
// creating circles
// --------------------------------------------------
//@param bg background-color
//@param col border
//@param w width
//@param h height
@mixin soz-circle-s($bg,$col,$w,$h) {
  height:$w;
  width:$h;
  border: 2px solid $col;
  border-radius: 50%;
  background-color: $bg;
  margin: 0 auto;
  display: block;
  .glyphicon {
    color:$col;
    padding: 6px 9px;
    font-size: $font-size-icon-small;
  }
}

//add the span to the responsive-visibility mixin
@mixin responsive-visibility($parent) {
  #{$parent} {
    display: block !important;
  }
  table#{$parent}  { display: table !important; }
  tr#{$parent}     { display: table-row !important; }
  th#{$parent},
  td#{$parent}     { display: table-cell !important; }
  span#{$parent}     { display: inline !important; }
}
