<f:layout name="Default" />

<f:section name="main">

    <div class="row small-up-1 medium-up-2 large-up-3">

        <f:for each="{categories}" as="category">
            <f:if condition="{category.shortcut}">
                <div class="column">
                    <f:link.page pageUid="{category.shortcut}" class="teaser">
                        <div class="teaser_image">
                            <f:image src="{category.images.0.uid}" alt="" maxWidth="200" treatIdAsReference="1" />
                        </div>

                        <div class="teaser_content">
                            <h3>{category.title}</h3>
                            <span class="subtitle_right">{data.subheader}</span>
                            <div class="bodytext">
                                <f:format.html>{data.bodytext}</f:format.html>
                            </div>
                        </div>
                    </f:link.page>
                </div>
            </f:if>
        </f:for>

    </div>

</f:section>