
.blockquote-author{
  font-family: DIN-Medium;
  font-style: italic;
  font-size: 14pt;
  letter-spacing: 0;
  text-align: center;
  color: $soz-green-dark;
  margin-top: -20px;
  margin-bottom: 40px;
}
