/*
 * Standard TYPO3 ContentElement Menu
 * purpose: styling of the institution- & useraccount navigations, visible when a registredUser is logged-in.
 */

ul.ce-menu {
  background-color: white;
  &:first-child {
    /* First Level */
    background-color: $gray-dark;
    padding: 0 3px;
    li {
      margin: 3px 0 0 0;
      a {
        padding-top: 11px;
        padding-bottom: 11px;
      }
    }
  }
}

ul.ce-menu

/* configuration for active element */
.nav-pills {
  li {
    &.active a {
      &,
      &:hover,
      &:focus {
        color: $soz-blue-dark;
        background-color: $soz-white;
      }
    }
  }
}

.nav-pills:not(:first-child) {
  li {
    &.active a {
      text-decoration: underline;
    }
  }
}