/*
* default styles for extension "fluid_styled_content"
* plus some addition for responsive
*/
.ce-align-left {
  text-align: left;
}
.ce-align-center {
  text-align: center;
}
.ce-align-right {
  text-align: right;
}

.ce-table td, .ce-table th {
  vertical-align: top;
}

//martin: i removed the following because it prevents floating of the ce-infobox
// TNW
/**
.ce-textpic,
.ce-nowrap .ce-bodytext, .ce-gallery,
.ce-row, .ce-uploads li, .ce-uploads div {
  overflow: hidden;
}
*/

// if the <p> text is short then image height, the margin-bottom will not come in effect. this line solves this problem.
.ce-textpic{
  margin-bottom: $grid-gutter-width/3;
}

.ce-center {
  .ce-outer {
    position: relative; float: right; right: 50%;
  }
  .ce-inner {
    position: relative; float: right; right: -50%;
  }
}
.ce-right .ce-gallery {
  float: right;
}
.ce-left .ce-gallery, .ce-column {
  float: left;
}
.ce-gallery {
  figure {
    display: table; margin: 0;
  }
  figcaption {
    display: table-caption;
    caption-side: bottom;
    background: $gray-light;
    font-size: $font-size-small;
    padding: 4px;
  }
  img {
    display: block;
    width: 100%;
    height: auto;
  }
  iframe {
    border-width: 0;
  }
}

.ce-border img,
.ce-border iframe {
  border: 1px solid $black;
  padding: 0;
}

.ce-intext.ce-right .ce-gallery {
  width: 100%;
  @media (min-width: $screen-md-min){
    width: auto;
    max-width: calc(50% - #{$grid-gutter-width/2});
    margin-right: $grid-gutter-width;
  }
}
.ce-intext.ce-left .ce-gallery {
  width: 100%;
  @media (min-width: $screen-md-min){
    width: auto;
    max-width: calc(50% - #{$grid-gutter-width/2});
    margin-right: $grid-gutter-width;
  }
}
.ce-below .ce-gallery {
  margin-top: $grid-gutter-width;
}

.ce-column {
  margin-right: $grid-gutter-width;
}
.ce-column:last-child {
  margin-right: 0;
}

.ce-row {
  margin-bottom: $grid-gutter-width;
}
.ce-row:last-child {
  margin-bottom: 0;
}

.ce-above .ce-bodytext {
  clear: both;
}

.ce-intext.ce-left ol, .ce-intext.ce-left ul {
  padding-left: 40px; overflow: auto;
}

.ce-uploads {
  margin: 0; padding: 0;
  li {
    list-style: none outside none; margin: 1em 0;
  }
  img {
    float: left;
    padding-right: $grid-gutter-width/2;
    vertical-align: top;
  }
  span {
    display: block;
  }
}

/* default styles for extension "tx_ws_textmedia_bootstrap" */
.ce-bodytext.ce-intext {
  float: none;
}
.ce-gallery.ce-intext.ce-right {
  z-index: 999;
  @media (min-width: $screen-md-min){
    float: right;
    margin-left: $grid-gutter-width/4;
  }
  > .row [class*=col-] {
    margin-bottom: $grid-gutter-width/4;
  }
  @media (min-width: $screen-md-min) {
    > .row:last-child [class*=col-] {
      margin-bottom: 0;
    }
  }
}
.ce-gallery.ce-intext.ce-left {
  z-index: 999;
  @media (min-width: $screen-md-min){
    float: left;
    margin-right: $grid-gutter-width/4;
  }
  > .row [class*=col-] {
    margin-bottom: $grid-gutter-width/4;
  }
  @media (min-width: $screen-md-min) {
    > .row:last-child [class*=col-] {
      margin-bottom: 0;
    }
  }
}

//Infobox inside RTE
.ce-bodytext{
  width: 100%;

  .infobox {
    float: right;
    margin: 0 0 $grid-gutter-width/2 $grid-gutter-width;
    @media (min-width: $screen-sm-min) {
      //this take care also of the bootstrap paddings
      width: calc(50% - 15px);
    }
  }
}
