.infobox {
  background-color: $gray-light;
  padding: $grid-gutter-width/3 $grid-gutter-width/2;
  border-top: 6px solid $brand-primary;
  margin: 0;
  @media (min-width: $screen-sm-min) {
    width: 50%;
    &.infobox-right {
      float: right;
      margin: 0 0 $grid-gutter-width/2 $grid-gutter-width;

    }
    &.infobox-left {
      float: left;
      margin: 0 $grid-gutter-width $grid-gutter-width/2 0;
    }
  }
}
