//
// Badges (maybe merged with badges?)
// --------------------------------------------------
#carousel-start {
  position: relative;
  .carousel-inner {
    background: transparent;
  }
  .indicator_content,
  .slide_content {
    position: relative;
    width: 70%;
    float: right;
  }

  /* Overwrite Controls */
  .carousel-control.right,
  .carousel-control.left {
    background-image: none;
    background-repeat: unset;
  }

  /* Overwrite Indicators */
  .carousel-indicators {
    position: absolute;
    width: 100px;
    bottom: 0;
    left: 50%;
    margin-left: -50px;
    z-index: 1;
    li {
      width: 9px;
      height: 9px;
      &.active {
        width: 9px;
        height: 9px;
        margin: 1px;
      }
    }
  }

  /* span tag prevents displaying the link-text if the header-link-pageUid is not accessible (hidden, or deleted) */
  span {
    display: none;
  }
  a span {
    display: block;
  }

  /* styling of the carousel-items */
  article {
    margin-top: 15px;
    border-top: 6px solid $brand-primary;
    background: $white;
    height: 231px;

    .slide_image {
      width: 30%;
      float: left;
      overflow: hidden;

      img {
        display: block;
      }
    }

    .slide_link {
      position: absolute;
      right: 14px;
      bottom: 14px;
      z-index: 2;
    }

    .slide_content {

      .slider_header {
        display: block;
        margin: 65px 14px 10px;
        text-align: left;
        font-size: $font-size-h2;
        font-family: 'DIN-Bold', sans-serif;
      }

      div.bodytext {
        margin: 0 14px;
      }

      .subtitle_left,
      .subtitle_right
      {
        position: absolute;
        width: 35%;
        right: 14px;
        top: 10px;
        display: block;
        font-size: $font-size-extrasmall;
      }
      .subtitle_left {
        right: auto;
        left: 14px;
      }
      .subtitle_right {
        text-align: right;
      }

      .slider_type {
        position: absolute;
        width: 100px;
        height: 100px;
        top: -18px;
        left: 50%;
        margin-left: -50px;
        z-index: 1;

        .type-text {
          display: block;
          width: 100%;
          text-align: center;
          font-family: 'DIN-Regular', sans-serif;
          text-transform: uppercase;
          letter-spacing: 1px;
          h5 {
            font-size: $font-size-extrasmall;
          }
        }
        i {
          width: 60px;
          height: 60px;
          background: green;
        }
        span {
          display: block;
          text-align: center;
        }
        .soz-circle-icon {
          top: 0;
        }
      }
    }
  }
}
