.tabs {
  .nav-tabs {
    a {
      font-family: DIN-Medium, Sans-Serif;
      font-size: $font-size-small;
      padding: 5px 15px;
      color: $soz-blue;
    }
    li.active {
      a {
        color: $soz-green;
      }
    }
  }
}
