.teaser {
  .link-teaser {
    position: relative;
    border-top: 5px solid $soz-blue;
    padding-top: 32px;
    margin-top: 50px;
    text-align: center;
    background-color: $gray-light;
    h4 {
      @include h5();
    }
    .linktext {
      margin-top: 15px;
      margin-bottom: 5px;
      a {
        white-space: normal;
        word-wrap: break-word;
      }
    }
    .soz-circle-icon {
      position: absolute;
      top: -20px;
      left: 50%;
      transform: translateX(-50%);
      padding-top: 8px;
      img {
        margin-left: 0;
        margin-top: -8px;
      }
    }
  }
}
