.teaser {
  position: relative;
  font-size: $font-size-small;
  > div {
    background-color: $gray-light;
    padding: $grid-gutter-width/2;
  }
  h5 {
    text-align: center;
    margin-top: 5px;
    text-transform: uppercase;
  }
}
