//
// Aside
// --------------------------------------------------

aside {
  img {
    max-width: 100%;
    height: auto;
    table {
      width: 100%;
    }
  }
}

.frame-layout-1 {
  p {
    font-size: $font-size-large;
  }
}