//
// Body
// --------------------------------------------------
body:before, body:after {
  content: "";
  position: fixed;
  background: #ececec;
  left: 0;
  right: 0;
  height: 40px;
  z-index: 1;
}
body:before {
  top: 0;
}
body:after {
  bottom: 0;
}
body {
  border-left: 30px solid #ececec;
  border-right: 30px solid #ececec;
}
