footer {
  padding-bottom: 85px;
  font-size: $font-size-small;
  a {
    color: $text-color;
    &:hover,
    &:active {
      color: $brand-primary;
    }
  }
  address, div {
    line-height: 1.4;
  }
}
