//
// Logo
// --------------------------------------------------
#logo {
  display: block;
}
/* Desktop */
@media (min-width: $screen-md-min) {
  #logo {
    img {
    }
  }
}

//
// Content
// --------------------------------------------------
body > div > header.row {
  margin: 14px 0;
}
@media (min-width: $screen-sm-min) {
  body > div > header.row {
    margin: 50px 0 45px;
  }
}