// Standard Menu
nav.navbar.navbar-default {
  @include text-medium;
  // First Level
  ul {
    @media (min-width: $screen-sm-min) {
      &.nav.navbar-nav {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
      }
      &.navbar-nav {
        float: none;
      }
    }
    li {
      font-size: $font-size-large;
      border-bottom: 1px dotted $white;
      display: inline-block;
      padding-right: 15px;
      @media (max-width: $screen-sm-max) {
        display: block;
      }
      a {
        text-transform: uppercase;
        padding: 0 4px 3px;
        text-align: center;
        display: block;
        @media (min-width: $screen-sm-min) {
          display: inline-block;
          text-align: left;
        }
        border-bottom: 1px dotted $white;
        &:hover,
        &:active,
        &:focus {
          color: $brand-primary;
          @media (min-width: $screen-sm-min) {
            border-bottom: 1px dotted $brand-primary;
          }
        }
      }
      &.selected {
        a {
          @include text-bold;
        }
      }
      //orange dots for desktop
      @media (min-width: $screen-sm-min) {
        &:before {
          display: inline-block;
          content: '\00B7';
          padding-right: 15px;
          color: $brand-primary;
        }
        &:first-child {
          &:before {
            content: '';
          }
        }
      }
      // Second Level
      ul {
        display: none;
      }
    }
  }
}
