.tx-bensan-products {
  .image {
    position: relative;
    span {
      display: block;
      padding: 7px 21px;
      background: $brand-primary;
      color: $white;
      text-transform: uppercase;
      font-size: 20px;
      @include text-medium;
      @media (min-width: $screen-xs-min) {
        position: absolute;
        left: 0;
        bottom: 0;
        text-align: right;
      }
      @media (min-width: $screen-sm-min) {
        font-size: 27px;
      }
    }
    img {
      max-width: 100%;
      height: auto;
    }
  }
  section {
    @media (min-width: $screen-md-min) {
      margin-top: 24px;
    }
    padding-bottom: 24px;
    .separator-line-gray {
      margin: 48px 0 24px;
    }
    &:last-of-type {
      .separator-line-gray {
        display: none;
      }
    }
  }
  .btn-default {
    font-size: $font-size-large;
    color: $white;
    background: rgb(200, 200, 200);
    @include text-medium;
    padding: 5px 35px;
    text-transform: uppercase;
    margin-bottom: 12px;
  }
  .specifications {
    h3 {
      text-transform: uppercase;
      margin-top: 12px;
    }
    p {
      margin: 0;
      strong {
        display: block;
        padding: 6px 0 3px;
      }
    }
    > div {
      background: rgb(240,240, 240);
      padding: 14px;
    }
  }
  .contenttable {
    display: table;
    border-collapse: separate;
    border-spacing: 2px;
    border-color: grey;
    td {
      padding-right: 5px;
      vertical-align: top;
    }
  }
}