<f:layout name="Default" />

<f:section name="main">
	<f:for each="{products}" as="product">
		<div class="image" id="product-{product.uid}">
			<f:image src="{product.image.uid}" treatIdAsReference="1"
					 title="{product.image.title}" alt="{image.alternative}"
					 width="1140" />
			<span>
				{product.price}<br />
				{product.price2}
			</span>
		</div>
		<section class="row">
			<div class="col-md-8">
				<h2>{product.title}</h2>
				<f:format.html>{product.description}</f:format.html>
				<f:comment>
					<f:link.action pageUid="{detail-pid}" action="show"
								   additionalAttributes="{class: 'detail-link'}"
								   arguments="{product:product}">

					</f:link.action>
				</f:comment>
				<f:link.page pageUid="6" class="btn btn-lg btn-default">Bestellen</f:link.page>
			</div>
			<div class="col-md-4 specifications">
				<div>
					<h3>Technische Angaben</h3>
					<f:format.html>{product.specifications}</f:format.html>
				</div>
			</div>
			<div class="col-sm-12">
				<hr class="separator-line-gray" />
			</div>
		</section>
	</f:for>

</f:section>
