// Accordion
// used as content-element & in si_institution branchenratgeber list
// -------------------------
.accordion {
  margin-bottom: 10px;
  .panel {
    border: none;
    box-shadow: none;
    + .panel{
      margin-top: 0;
      clear: both;
    }
    .panel-heading {
      padding: 0;
      background-color: $gray-light;
      border-bottom: 2px solid white;
      a {
        display: block;
        position: relative;
        padding: 14px 50px 14px 14px;
        .accordion-icon {
          display: block;
          position: absolute;
          top: 0;
          right: 0;
          height: 100%;
          width: 45px;
          text-align: center;
          background-color: $soz-green;
          color: $white;
          i {
            position:relative;
            top: calc(50% - 8px);
            &.si-icon-plus {
              display: none;
            }
            &.si-icon-minus {
              display: block;
            }
          }
        }
        &.collapsed {
          .accordion-icon {
            background-color: $soz-blue;
          }
          i {
            &.si-icon-plus {
              display: block;
            }
            &.si-icon-minus {
              display: none;
            }
          }
        }
      }
    }
    &:nth-child(odd){
      .panel-heading {
        background-color: $gray-dark;
      }
    }
    .panel-body {
      position: relative;
    }
  }

  //overwrite bootstrap default border
  .panel-heading+.panel-collapse>.panel-body {
    border-top: none;
  }
}

// Accordion
// special styling for content-elements in a accordion
// -------------------------
// articles are used in si_news
.accordion {
  //smaller h1 for articles
  article h1 {
    @extend h3;
  }
}
