//
// possibility to add icons to the left and right of any input, select and button.
// this is different to bootstraps .input-group-addon.
//
// you need to add the si-icon- tag into the wrapping div.
// example:
// <div class="inner-addon right-addon form-group">
//   <label for="example" class="control-label">
//   <i class="si-icon-chevron-down" aria-hidden="true"></i>
//   <f:form.select id="example" class="form-control"/>
// </div>
// -------------------------
form.si-form { //reset of select only for si-form
  select {
    appearance: none; // remove default arrow
    &::-ms-expand {
      display: none;   // ie remove default arrow
    }
    &:focus::-ms-value {
      background-color: white;
      color: $text-color;   // ie set selected color
    }
  }
  //styling of icon addon
  .inner-addon {
    position: relative;
  }
  .inner-addon [class*=si-icon-] {
    position: absolute;
    padding: 10px;
    pointer-events: none;
  }
  .left-addon [class*=si-icon-] {
    left: 15px;
  }
  .right-addon [class*=si-icon-] {
    right: 15px;
  }
  .left-addon {
    input, select, .btn {
      padding-left: 30px;
    }
  }
  .right-addon {
    input, select, .btn {
      padding-right: 30px;
    }
  }
}

// Extends the bootstrap "thumbnail" with styling for radiobuttons
// used in si_jobs step4 for publishOffers and addresses
// -------------------------
form {
  .thumbnail {
    border: 0;
    &.radiobox {
      position: relative;
      label {
        border-top: 5px solid $soz-blue;
        width: 100%;
        margin: 0;
        &:hover {
          cursor: pointer;
          border-top: 5px solid $soz-blue-dark;
        }
      }
      input[type=radio] {
        position: absolute;
        top: 21px;
        left: 13px;
        &:checked + label {
          border-top-color: $soz-green;
        }
      }
      b.title {
        display: block;
        padding-left: 25px;
        padding-top: 7px;
      }
      input.f3-form-error {
        & + label.caption h3 {
          color: $alert-danger-text;
        }
      }
    }
  }
}
