// Read More Link
// -------------------------
.read-more {
  display: block;
  text-transform: uppercase;
  font-size: $font-size-smaller;
  letter-spacing: 1px;
  font-family: DIN-Medium, sans-serif;
}

// absolute positioning on bottom right
// -------------------------
.read-more-bottom-link {
  position: absolute;
  right: $grid-gutter-width/2;
  bottom: $grid-gutter-width/2;
}
