// sort table icons

.sortTable {
  th[data-sort] {
    cursor: pointer;

    &:after {
      //use !important to prevent issues with browser extensions that change fonts
      font-family: 'icomoon' !important;
      speak: none;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      line-height: 1;

      //Better Font Rendering ===========
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;

      //Prevents line break in TH
      content: ' ';
      white-space: nowrap;
    }

    &.sorting-asc:after {
      //arrow up
      content: "\f106";
    }
    &.sorting-desc:after {
      //arrow down
      content: "\f107";
    }
  }
}