//
// possibility to add tool-tips
// -------------------------

//base style
span,
i {
  &.si-icon-info {
    color: $brand-primary;
  }
  &:hover {
    .si-icon-info {
      color: $soz-green;
    }
  }
}

//tooltip for links -> not tested yet, no example found
/*
a {
  position: relative;
  &.soz-tool-tip,
  &.soz-tool-tip:hover,
  &.soz-tool-tip:visited {
    color: $brand-primary;
    border: none;
    text-decoration: none;
    position: absolute;
    right: 8px;
    top: 8px;
  }
}
*/

//tooltip for labels, example in ext:si_jobs newJobOffer form on step3
label.soz-tool-tip {
  padding-right: 11px;
  .si-icon-info {
    vertical-align: middle;
    padding-left: 2px;
  }
}

//tooltip for inputs, example in ext:si_femanager registration form -> use bootstrap input-group-addon
