<!doctype html>
<html>
<head>
    <style type="text/css">
        @media screen {
            @font-face {
                font-family: 'DIN-Regular';
                font-style: normal;
                font-weight: 400;
                src: local('☺'), url(https://nw.sozialinfo.ch/typo3conf/ext/base/Resources/Public/Template/dist/fonts/DIN-Regular.woff) format('woff'), url(https://nw.sozialinfo.ch/typo3conf/ext/base/Resources/Public/Template/dist/fonts/DIN-Regular.ttf) format('truetype');
            }
            body {
                color: #303030;
                font-family: "DIN-Regular", Calibri, sans-serif;
                font-size: 16px;
                line-height: 1.5em;
            }
            .header {
                font-family: "DIN-Regular", Calibri, sans-serif;
                font-weight: bold;
            }
            .footer {
                color: #0054a1;
                font-family: "DIN-Regular",Calibri, sans-serif;
                font-size: 14px;
                margin-left: 50px;
            }
            blockquote {
                border-left: 1px solid #ccc;
                margin: 20px 0;
                padding: 3px 20px;
            }
        }
    </style>
</head>
<body>
<f:render section="Main" />
</body>
</html>
