/*
 * Base
 * sitewide base styles for HTML elements and Bootstrap components
 *
 * only overwrite bootstrap defaults if you cant change it via _bootstrap-variables-override.scss
 */

// Tables
// -------------------------
table {
  &.table {
    td.vertical-center {
      vertical-align: top;
    }
  }
}

// Lists
// -------------------------
ul {
  &.no-bullet {
    list-style: none;
    margin-left: 0;
    padding-left: 10px;
  }
  &.no-padding {
    padding-left: 0;
  }
  &.inline-list {
    list-style: none;
    overflow: hidden;
    padding: 0;
    margin: 0;
    > li {
      display: block;
      float: left;
      list-style: none;
      margin-left: $grid-gutter-width/2;
    }
    & li:first-child {
      margin-left: 0;
    }
    /* remove external-link icon for lists */
    a[target=_blank] {
      &:after {
        content: "";
      }
    }
  }
}

dl {
  dt {
    margin-top: ($line-height-computed / 2);
  }
}

// Other Elements
// -------------------------
address {
  margin: 0 0 ($line-height-computed / 2);
}
caption {
  padding: 10px;
  @include lead;
}
blockquote {
  text-decoration: none;
  border: 0;
  p {
    font-size: inherit;
    display: inline;
  }
}
