// load DIN
// -------------------------
@font-face {
  font-family: DIN-Regular;
  src:
          url('../fonts/DIN-Regular.ttf') format('truetype'),
          url('../fonts/DIN-Regular.woff') format('woff'),
          url('../fonts/DIN-Regular.svg') format('svg');
}
@font-face {
  font-family: DIN-Bold;
  src:
          url('../fonts/DIN-Bold.ttf') format('truetype'),
          url('../fonts/DIN-Bold.woff') format('woff'),
          url('../fonts/DIN-Bold.svg') format('svg');
}
@font-face {
  font-family: DIN-Medium;
  src:
          url('../fonts/DIN-Medium.ttf') format('truetype'),
          url('../fonts/DIN-Medium.woff') format('woff'),
          url('../fonts/DIN-Medium.svg') format('svg');
}
// load Garamond
// -------------------------
@font-face {
  font-family: GaramondBE-Italic;
  src:
          url('../fonts/GaramondBE-Italic.ttf') format('truetype'),
          url('../fonts/GaramondBE-Italic.woff') format('woff'),
          url('../fonts/GaramondBE-Italic.woff') format('svg');
}

// load icomoon
// -------------------------
@font-face {
  font-family: 'icomoon';
  src:
          url('../fonts/icomoon.ttf') format('truetype'),
          url('../fonts/icomoon.woff') format('woff'),
          url('../fonts/icomoon.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
