//
// TYPO3 Extbase Error Messages
// --------------------------------------------------
//error infobox
.typo3-messages {
  list-style: none;
  padding-left: 0;
  .media-left {
    display: none; //hide default TYPO3 messages icons, in FE
  }
}
//error elements
.f3-form-error input,
.f3-form-error textarea,
textarea.f3-form-error,
input.f3-form-error {
  border: 1px solid $alert-danger-text;
  background: $alert-danger-bg;
  & + span {
    color: $alert-danger-text; //used for terms and conditions
  }
}
.f3-form-error legend,
.f3-form-error label {
  color: $alert-danger-text;
}
//required labels (*)
.required {
  color: $brand-danger;
}

//
// Overwrite or extend Bootstrap defaults elements
// --------------------------------------------------
fieldset {
  margin-bottom: $form-group-margin-bottom;
  legend {
    font-family: DIN-Bold, sans-serif;
    font-size: $font-size-large;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: $text-color;
    margin-bottom: $form-group-margin-bottom;
    margin-top: $form-group-margin-bottom;
  }
}
label {
  font-weight: normal;
  &:hover {
    cursor: pointer;
  }
}
textarea {
  resize: vertical;
}

//
// Overwrite or extend Bootstrap components
// --------------------------------------------------
.btn {
  white-space: normal; // better two line button, as not showing the whole text
}
.checkbox {
  margin: 3px 0; //default margin is 10px
}
.form-horizontal .control-label.text-left{
  text-align: left; //text-left should also work in horizontal forms.
}
//
// labels on top of input fields
//
.label-placeholder {
  color: $input-color-placeholder;
  position: relative;
  input + label {
    position: absolute;
    left: $grid-gutter-width;
    top: 7px;
    @media (min-width: $screen-sm-min) {
      top: 0;
    }
  }
  input:focus + label, &.active label {
    display: none;
  }
}

@media only screen and (max-width: $screen-xs-max) {
  .btn-block-xs {
    display: block;
    width: 100%;
    margin: 10px 0;
  }
}
.btn-group-vertical>.btn{
  float: left;
  margin: 0 0 $grid-gutter-width/4 0;
}