// Social Media Icons hover effects
// as used in <i class="#">
// -------------------------
.si-icon-youtube-square {
  &:hover {
    color: $social-youtube;
  }
}
.si-icon-twitter-square {
  &:hover {
    color: $social-twitter;
  }
}
.si-icon-facebook-square {
  &:hover {
    color: $social-facebook;
  }
}
.si-icon-google-plus-square {
  &:hover {
    color: $social-google-plus;
  }
}
.si-icon-xing-square {
  &:hover {
    color: $social-xing;
  }
}
.si-icon-feed {
  &:hover {
    color: $social-feed;
  }
}

// Icoonmoon
// classes are copied manually from source/icomoon/styles.css
// -------------------------

[class^="si-icon-"], [class*=" si-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Enable Ligatures ================ */
  letter-spacing: 0;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  font-feature-settings: "liga";
  -webkit-font-variant-ligatures: discretionary-ligatures;
  font-variant-ligatures: discretionary-ligatures;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.si-icon-si_branch:before {
  content: "\e90e";
}
.si-icon-si_stellen:before {
  content: "\e914";
}
.si-icon-si_fach:before {
  content: "\e915";
}
.si-icon-calendar:before {
  content: "\e906";
}
.si-icon-checkmark-round-bg:before {
  content: "\e905";
}
.si-icon-cancel-round-bg:before {
  content: "\e908";
}
.si-icon-plus-round-bg:before {
  content: "\e90b";
}
.si-icon-minus-round-bg:before {
  content: "\e90d";
}
.si-icon-notice-round-bg:before {
  content: "\e910";
}
.si-icon-checkmark:before {
  content: "\e913";
}
.si-icon-cancel:before {
  content: "\e918";
}
.si-icon-trashcan:before {
  content: "\e912";
}
.si-icon-edit:before {
  content: "\e919";
}
.si-icon-copy:before {
  content: "\e91a";
}
.si-icon-info:before {
  content: "\e909";
}
.si-icon-plus:before {
  content: "\ea0a";
}
.si-icon-minus:before {
  content: "\ea0b";
}
.si-icon-admin:before {
  content: "\e900";
}
.si-icon-user-confirmed:before {
  content: "\e901";
}
.si-icon-user-remove:before {
  content: "\e902";
}
.si-icon-user-add:before {
  content: "\e903";
}
.si-icon-user:before {
  content: "\e904";
}
.si-icon-youtube-square:before {
  content: "\e916";
}
.si-icon-question:before {
  content: "\f059";
}
.si-icon-external-link:before {
  content: "\f08e";
}
.si-icon-feed:before {
  content: "\f09e";
}
.si-icon-percent:before {
  content: "\f295";
}
.si-icon-search:before {
  content: "\f002";
}
.si-icon-chevron-right:before {
  content: "\f054";
}
.si-icon-angle-up:before {
  content: "\f106";
}
.si-icon-chevron-down:before {
  content: "\f078";
}
.si-icon-angle-down:before {
  content: "\f107";
}
.si-icon-envelope:before {
  content: "\f003";
}
.si-icon-fa-twitter:before {
  content: "\f09b";
}
.si-icon-fa-facebook:before {
  content: "\f09c";
}
.si-icon-whatsapp:before {
  content: "\f232";
}
.si-icon-facebook-square:before {
  content: "\f082";
}
.si-icon-twitter-square:before {
  content: "\f081";
}
.si-icon-linkedin-square:before {
  content: "\f08c";
}
.si-icon-google-plus-square:before {
  content: "\f0d4";
}
.si-icon-xing-square:before {
  content: "\f169";
}
.si-icon-facebook:before {
  content: "\f09a";
}
.si-icon-twitter:before {
  content: "\f099";
}
.si-icon-google-plus:before {
  content: "\f0d5";
}
.si-icon-xing:before {
  content: "\f168";
}
.si-icon-triangle-down:before {
  content: "\e907";
}