//
// Overwrite or extend Bootstrap text elements & components
// --------------------------------------------------
//RTE uses class "align-right" instead of bootstrap "text-right"
.align-right {
  text-align: right;
}

//
// Text
// -------------------------
strong,
b,
.text-bold {
  @include text-bold;
  color: $brand-primary;
}
.text-medium {
  @include text-medium;
}
.text-uppercase {
  @include text-uppercase;
}
.text-grey {
  color: $gray-darker; /* this text is lighter then the basic-font-color */
}
.text-small {
  font-size: $font-size-small;
}
.text-large {
  font-size: $font-size-larger;
}
.lead {
  font-size: $font-size-large;
  @include text-medium;
}


// Headlines
// -------------------------
h1, h2, h3, h4, h5 {
  color: $brand-primary;
  @include text-medium;
}

aside h1 {
  @include text-bold;
  font-size: $font-size-large;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-bottom: 1px solid $brand-primary;
  padding-bottom: 4px;
}

h3 {
  @include h3;
}
h4 {
  @include h4;
}
h5 {
   @include h5;
}