<f:comment>this is the email footer</f:comment>

<div>
    <f:translate key="Mail.Footer.greetings" extensionName="sozialinfo"/><br/><br/>
    <a href="http://www.sozialinfo.ch" target="_blank"><img
            src="{f:uri.image(src:'EXT:base/Resources/Public/Template/images/logo.png',absolute:'true',width:'200')}"
            alt="{f:translate(key:'Mail.Footer.sitetitle',extensionName:'sozialinfo')}" border="0" style="border:0;"/></a><br/><br/>
    <p>
</div>

<div class="footer">
        <span style="font-weight:bold;">
            <f:translate key="Mail.Footer.greetings" extensionName="sozialinfo"/>
        </span> <br />
        <f:translate key="Mail.Footer.address" extensionName="sozialinfo"/>
    </p>
    <p>
        <f:translate key="Mail.Footer.phone" extensionName="sozialinfo"/> <br />
        <f:translate key="Mail.Footer.email" extensionName="sozialinfo"/> <br />
        <f:translate key="Mail.Footer.website" extensionName="sozialinfo"/><br />
    </p>
</div>



