<f:layout name="Default" />
<f:section name="main">

    <main>
        <div class="col-md-3">
            <f:cObject typoscriptObjectPath="lib.loadContent" data="1" />
        </div>
        <div class="col-md-3">
            <f:cObject typoscriptObjectPath="lib.loadContent" data="2" />
        </div>
        <div class="col-md-3">
            <f:cObject typoscriptObjectPath="lib.loadContent" data="3" />
        </div>
        <div class="col-md-3">
            <f:cObject typoscriptObjectPath="lib.loadContent" data="4" />
        </div>
    </main>

</f:section>
