<f:layout name="HeaderImage" />
<f:section name="main">

    <main role="main" class="col-md-8">
        <f:cObject typoscriptObjectPath="lib.loadContent" data="16" />
    </main>

    <aside class="col-md-4">
        <f:cObject typoscriptObjectPath="lib.loadContent" data="26" />
    </aside>

</f:section>
